{% extends 'base_list.html' %}

{% block extra_buttons %}
    <a class="my-auto me-2 hide-link" href="?{% if not view.show_removed %}show_removed=1{% endif %}">
        <div class="form-check pe-none">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" {% if view.show_removed %}checked{% endif %}>
            <label class="form-check-label" for="flexCheckChecked">
                Показать уволенных
            </label>
        </div>
    </a>
{% endblock %}